body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

header{
    position: sticky;top: 0;
    background-color: #17202A;
    color: white;
    background-image: url(./accets/H_bg2.webp);
    padding: 15px;
    /* backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237,0.37);
    border: 2px solid rgba(255, 255, 255, 0.18 ); */
}


nav{
    display: flex;
    justify-content: center;
    
}
 
nav ul{
    list-style-type: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    
   
}

nav li{
    margin: 5px 10px;
    
    
}

nav a{
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    border-spacing: 1rem;
    padding: 10px;
   
}

nav a:hover{
    color: red;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237,0.37);
    border: 2px solid rgba(255, 255, 255, 0.18 );
}

.trainers{
    background-color:#AEB6BF;
    padding: 30px;
    background-image: url(./accets/A_bg.webp);
    /* background-size: contain;   */
}




.trainers h2{
    text-align: center;
    font-size: 360x;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.trainers-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.trainer{
    width: 300px;
    margin: 20px;
    text-align: center;
    
}

/* .trainer p {
    color: white;
} */

.trainer img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin: 20px;
    /* backdrop-filter: blur(30px); */
    box-shadow: 0px 0px 30px rgba(227, 228, 237,0.37);
    border: 5px solid rgba(255, 255, 255, 0.18 );
}


footer{
    position: sticky;
    bottom: 0;
    background-color: #17202A;
    color: white;
    padding: 5px;
    text-align: center;
    background-image: url(./accets/H_bg2.webp);
}